<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="hero">
<h1>📊 Dashboard Universitaire</h1>
<a href="/export/pdf">🧾 Export PDF</a>
</div>

<div class="container">

<!-- FILTRE -->
<form method="get">
<select name="level">
{% for l in levels %}
<option value="{{l}}">{{l}}</option>
{% endfor %}
</select>
<button>Filtrer</button>
</form>

<!-- KPI -->
<div class="grid">

<div class="card">
<h3>Note moyenne</h3>
<p>{{ avg_grade }}</p>
</div>

<div class="card">
<h3>Heures moyennes</h3>
<p>{{ avg_hours }}</p>
</div>

<div class="card">
<h3>Corrélation</h3>
<p>{{ correlation }}</p>
</div>

</div>

<!-- GRAPHIQUES PNG -->
<h3>📊 Graphiques</h3>

<div class="grid">
<div class="card">
<img src="/static/bar.png" width="100%">
</div>

<div class="card">
<img src="/static/scatter.png" width="100%">
</div>
</div>

<!-- TABLE -->
<h3>Données</h3>

<table border="1">
{% for row in data %}
<tr>
<td>{{row.grade}}</td>
<td>{{row.hours}}</td>
<td><a href="/delete/{{loop.index0}}">❌</a></td>
</tr>
{% endfor %}
</table>

</div>

</body>
</html>